/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
.dk_container {
  background-color: #fff;
  line-height: 43px;}
  .dk_container:focus {
    outline: 0; }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
    line-height: 25px;
    padding: 10px 20px; }

.dk_toggle {
  border: 1px solid #dcdcdc;
  color: #333;
  padding: 0 20px;
  -webkit-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s;
  position: relative; }
  .dk_toggle:hover, .dk_toggle:focus {
    border-color: #000; }
  .dk_toggle:after {
    position: absolute;
    top: 45%;
    right: 10px;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4B4B4B; }

.dk_focus .dk_toggle {
  border-color: #000; }

.dk_open {
  z-index: 10; }

.dk_options {
  background: #fff; }
  .dk_options a {
    background-color: #fff;
    line-height: 25px;
    padding: 10px 20px; }
  .dk_options a:hover, .dk_options:focus,
  .dk_options .dk_option_current a {
    background-color: #555555;
    font-weight: 16px;
    color: #fff;
    text-decoration: none;}
  .dk_options li {
    list-style: none;
  }
  .dk_options .disabled {
    cursor: default; }
    .dk_options .disabled a {
      color: #aaa; }
    .dk_options .disabled:hover, .dk_options .disabled:hover a
    .dk_options .disabled:focus, .dk_options .disabled:focus a {
      cursor: default;
      background-color: #fff; }

.dk_options_inner {
  max-height: 225px;
  border: 1px solid #000;
  color: #333;
  margin: 0;
  padding: 0;}

.dk_container {
  display: none; }
  .dk_container a {
    outline: 0; }

.dk_toggle {
  width: -moz-calc(100% - 42px);
  width: -webkit-calc(100% - 42px);
  width: calc(100% - 42px);
  display: block;
  position: relative;
  zoom: 1; }

.dk_open {
  position: relative; }
  .dk_open .dk_options {
    display: block; }
  .dk_open .dk_label {
    color: inherit; }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%; }
  .dk_options a, .dk_options a:link, .dk_options a:visited {
    display: block; }

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch; }

.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden; }

.dk_mobile {
  position: relative; }
  .dk_mobile select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
