body {
    background-image: url("../images/background.png");
    width: 100%;
    font-family: 微軟正黑體;
}

* {
    font-size: 20px;
}

#logo {
    position: fixed;
    top: 10px;
    width: 100px;
    height: 100px;
    z-index: 9999;
    box-shadow: 2px 2px 1px rgb(36, 0, 0);
    border-radius: 50%;
    display: none;
}

#logo:hover {
    opacity: 0.8;
}

#fb {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 100px;
    height: 37px;
    z-index: 9999;
    background-image: url("../images/facebook.png");
    background-size: cover;
    box-shadow: 3px 3px 10px rgb(56, 0, 0);
}

#carouselExampleIndicators img {
    border-radius: 15px;
}

#carouselExampleIndicators {
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(49, 47, 45);
    overflow: hidden;
}

footer {
    margin-top: 20px;
}

h1 {
    color: rgb(132, 2, 0);
    font-weight: bold;
}

#navbarSupportedContent .sub_selected {
    color: rgb(251, 215, 115);
}

#navbarSupportedContent a:hover {
    color: rgb(249, 235, 195) !important;
}

#hot_food a:hover {
    text-decoration: none;
}

.nav-item {
    width: 20%;
}

#navbarSupportedContent a {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(26, 0, 0);
    text-align: center;
}

.dropdown-menu {
    background-color: rgba(132, 2, 0, 0.7);
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    border-radius: 0px 0px 15px 15px;
    z-index: -9999;
}

.dropdown-menu a:hover {
    background-color: rgba(132, 2, 0, 0.8);
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: -10px;
}

.start {
    margin-top: 100px !important;
}

.join_h p {
    float: left;
}

.join_h p:nth-child(2) {
    margin-left: 20px;
}

#carouselExampleIndicators div:hover {
    text-decoration: none;
}

.food img {
    box-shadow: 2px 2px 2px rgb(49, 47, 45);
    border-radius: 15px;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.food img:hover {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
    box-shadow: 0.5px 0.5px 1px rgb(49, 47, 45);
}

.food p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(132, 2, 0);
    font-size: 20px;
    font-weight: bold;
}

.my_navbar {
    box-shadow: 0px 5px 10px rgb(56, 0, 0);
}

.lb-image {
    width: 500px !important;
    height: auto !important;
}


/*aboutus_contact.html*/

#aboutus_sub {
    display: none;
}

#store_sub {
    width: 60%;
    background-image: url("../images/store/coffee.png");
    width: 100%;
    background-size: cover;
}

.frame {
    /* height: 100vh; */
    width: 100%;
    padding: 50px;
    border: 3px dashed;
    box-shadow: 0px 5px 10px rgb(56, 0, 0);
}

#send_button {
    padding: 10px 90px;
    box-shadow: 2px 2px 2px rgb(32, 32, 32);
    cursor: pointer;
}

#send_button:hover {
    padding: 10px 90px;
    box-shadow: 1px 1px 1px rgb(32, 32, 32);
    cursor: pointer;
}

.form-group *,
#opinion {
    font-size: 26px;
}

.aboutus_font {
    font-size: 27px;
}

.about_p {
    text-align: center;
    padding-top: 30px;
}

.about_b {
    padding: 20px;
}

textarea {
    width: 100%;
}


/* aboutus_intro.html */


/* aboutus_join.html */

.join_h {
    width: 100%;
    font-size: 2.4rem;
    /* font-size: 27px; */
    color: rgb(128, 19, 19);
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.join_font {
    font-size: 27px;
}

.join_t {
    /* position: relative; */
    margin-bottom: 40px;
}

.join_l {
    float: left;
    width: 140px;
}

.join_r {
    width: calc(100% - 140px);
    float: left;
}

.clear {
    clear: both;
}


/* aboutus_join.html */

.height_120 {
    height: 120px;
    width: 100%;
}

.recruiting_img {
    height: 560px;
    background-size: cover;
    background-position: 0px, 40px;
    background-image: url("../images/recruiting/recruiting.jpg");
}


/* family.html */

.family_h4 {
    color: rgb(132, 2, 0)
}

.family_p {
    margin-left: 45px;
    font-size: 20px;
}


/* food.html */

.link {
    text-decoration: none;
    font-size: 26px;
    color: black;
}

.link:hover {
    text-decoration: none;
}

.link.active {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

h2 {
    color: rgb(132, 2, 0);
    font-weight: bold;
}

#food-swiper-container {
    margin-top: 30px;
}

#food-swiper-container .food-swiper-slide {
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(49, 47, 45);
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

#food-swiper-container .food-swiper-slide:hover {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
    box-shadow: 0.5px 0.5px 1px rgb(49, 47, 45);
}

#for_phone_food .food p:nth-child(3) {
    display: block;
}

#food-swiper-container .swiper-slide p {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

#food-swiper-container .swiper-slide p:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

#food-swiper-container .swiper-wrapper {
    padding-bottom: 20px;
}

#food-swiper-container .swiper-wrapper a {
    width: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    top: 460px;
}

#ads_swiper-container {
    padding-bottom: 100px;
}

#ads_swiper-container a {
    text-decoration: none;
}

#ads_swiper-container p {
    margin: 0px;
    font-size: 16px;
    color: rgb(132, 2, 0);
    position: relative;
    top: 100%
}


/* news.ads */

.my_container {
    height: 750px;
    margin-top: 90px;
}

#ads-swiper-wrapper .swiper-slide {
    background-size: cover;
    background-position: center;
}

.modal-content {
    background-image: url("../images/background.png");
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

iframe {
    height: 600px;
    width: 100%;
}


/* news_news.html */

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    padding-bottom: 10px;
}

#news_1 p,
#news_2 p {
    color: rgb(132, 2, 0);
    font-size: 20px;
    margin-top: 30px;
}

#store_sub div.sub_for_area {
    background-color: rgb(248, 95, 95);
}


/* store.html */

#map {
    height: 400px;
    border-radius: 15px;
}

#store_sub div {
    font-size: 22px;
    margin-top: 20px;
    width: 20%;
    cursor: pointer;
    box-shadow: 2px 2px 1px gray;
    background-color: rgb(253, 196, 196);
    border-radius: 15px;
    margin-left: 75%;
    transform: 1s;
}

table a {
    color: rgb(177, 106, 104);
}

#store_sub div:hover {
    background-color: rgb(248, 156, 156);
    box-shadow: 1px 1px 1px gray;
}

#list_area {
    float: left;
}

#list_area li {
    list-style: none;
    margin-top: 20px;
    font-size: 26px;
    color: rgb(132, 2, 0);
    font-weight: bold;
    cursor: pointer;
}


/* Border styles */

table thead,
table tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(230, 189, 189);
}

table {
    width: 100%;
    margin-top: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 189, 189);
    margin-bottom: 30px;
}


/* Padding and font style */

table td,
table th {
    padding: 5px 10px;
    font-size: 20px;
    font-family: Verdana;
    color: rgb(177, 106, 104);
}


/* Alternating background colors */

table tr td:nth-child(1),
table tr td:nth-child(2),
th {
    text-align: center;
}

table tr:nth-child(even) {
    background: rgb(238, 211, 210)
}

table tr:nth-child(odd) {
    background: #FFF;
}

footer div:nth-child(1) p:nth-child(1) {
    font-size: 18px;
    letter-spacing: 5px;
}

footer div:nth-child(1) p:nth-child(2) {
    font-size: 18px;
    letter-spacing: 4.5px;
}

footer div:nth-child(1) p:nth-child(3) span:nth-child(1) {
    font-size: 18px;
    letter-spacing: 4.5px;
}

footer div:nth-child(1) p:nth-child(3) span:nth-child(2) {
    font-size: 18px;
    letter-spacing: 1.8px;
}

footer div:nth-child(1) p:nth-child(4) {
    font-size: 18px;
    letter-spacing: 1.2px;
}

#family_last_p {
    text-indent: -2em;
}

#nine {
    font-size: 1.5rem;
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:500px) {
    * {
        font-size: 14px;
    }
    h2 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    .start_form_top {
        margin-top: 85px !important;
    }
    .start {
        margin-top: 30px !important;
    }
    #logo {
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        display: block;
    }
    #fb {
        right: 45px;
        top: 44px;
        width: 70px;
        height: 23.5px;
    }
    .my_navbar {
        height: 80px;
    }
    /*漢堡條*/
    .ham {
        position: fixed;
        top: 50px;
        right: 10px;
        width: 20px;
        transition: 1s;
        z-index: 9999;
        display: none;
    }
    .bar {
        height: 3px;
        width: 20px;
        margin-top: 3px;
        background-color: black;
    }
    #navbarSupportedContent {
        position: fixed;
        top: 80px;
        left: -155px;
        width: 155px;
        overflow: hidden;
        transition: 1s;
        display: block;
        background-color: rgba(132, 2, 0, 0.7);
    }
    #navbarSupportedContent.active {
        left: 0px;
    }
    .nav-item {
        width: 150px;
        padding: 7px 0px;
    }
    .menu li {
        height: calc( 100vh/5);
        background-color: rgb(245, 245, 194);
        border: 1px solid black;
    }
    .menu li a {
        text-decoration: none;
        color: black;
        font-family: 微軟正黑體;
        font-size: 30px;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        padding-top: 35px;
    }
    .dropdown-menu {
        display: none !important;
    }
    #for_phone_food {
        margin-bottom: 20px;
    }
    #for_phone_food .food {
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 2px gray;
        text-align: center;
        overflow: hidden;
    }
    #navbarSupportedContent a {
        font-size: 20px;
        text-align: center;
    }
    h1 {
        font-size: 20px;
    }
    .food img {
        border-radius: 10px;
        margin-bottom: 10px;
    }
    #carouselExampleIndicators img {
        border-radius: 10px;
    }
    .food {
        margin: 0px !important;
        padding: 5px;
    }
    .food p {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        color: rgb(132, 2, 0);
        font-size: 16px;
        font-weight: bold;
    }
    #navbarSupportedContent .sub_selected {
        font-size: 24px;
    }
    .row {
        margin: 0px;
        margin-bottom: 10px;
    }
    #for_phone_food .food p:nth-child(2) {
        margin-bottom: 0px;
    }
    #for_phone_food .food p:nth-child(3) {
        display: none;
    }
    .sub {
        margin-top: 80px;
    }
    .sub a {
        font-size: 20px;
    }
    .sub div {
        border-bottom: 1px solid;
        padding: 10px;
    }
    #food_1,
    #food_2 {
        letter-spacing: 0px;
    }
    .link.active {
        border: 0px;
        color: rgb(159, 69, 0);
    }
    /*aboutus*/
    #aboutus_sub {
        display: block;
    }
    .intro_font {
        font-size: 14px;
        padding: 0px;
    }
    #img_2 {
        width: 100%;
        height: 100%;
    }
    p {
        line-height: 30px;
    }
    .join_h {
        font-size: 26px;
    }
    .join_h p:nth-child(2) {
        margin-left: 0px;
    }
    .join_h p {
        float: none;
        text-align: center;
    }
    .join_t {
        margin-bottom: 20px;
    }
    .join_r,
    .join_l {
        float: none;
        width: auto;
    }
    .join_t .join_l {
        color: rgb(132, 2, 0);
    }
    .frame {
        width: 100%;
        padding: 10px;
        border: 1px dashed;
        box-shadow: 0px 5px 10px rgb(56, 0, 0);
    }
    #contact_h2 {
        color: rgb(132, 2, 0);
        font-weight: bold;
        font-size: 20px;
    }
    .form-group *,
    #opinion {
        font-size: 16px;
    }
    #send_button {
        padding: 5px 30px;
        box-shadow: 2px 2px 6px rgb(32, 32, 32);
    }
    #store_sub {
        width: 100%;
        background-image: none;
    }
    #store_sub div {
        width: 100%;
        margin-left: 0px;
        border-radius: 10px;
    }
    #data_for_phone div {
        margin-top: 20px;
    }
    #map {
        margin-top: 40px;
        border-radius: 10px;
    }
    #data_for_phone p {
        margin-bottom: 0px;
    }
    .store_name {
        color: rgb(132, 2, 0);
        font-size: 22px;
        font-weight: bold;
    }
    ol {
        padding-left: 20px;
    }
    p {
        line-height: 20px;
    }
    .family_p {
        margin: 0px;
        font-size: 14px;
    }
    #map {
        height: 250px;
    }
    iframe {
        height: 100%;
    }
    .gallery-top {
        height: 60%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 50%;
        width: 15px;
        height: 28px;
        background-size: cover;
    }
    .my_container {
        height: 400px;
    }
    #family_last_p {
        font-size: 14px;
        margin-left: 25px;
    }
    #family_last_p span {
        font-size: 16px;
        font-weight: 500;
    }
    ol li {
        font-size: 14px;
    }
    /*footer*/
    footer * {
        font-size: 10px !important;
        letter-spacing: 0px !important;
    }
    footer div {
        padding: 2px !important;
    }
    footer div:nth-child(1) p:nth-child(1) {
        padding: 0px !important;
        font-size: 14px;
    }
    footer div:nth-child(2) {
        display: none;
    }
    footer p {
        line-height: 15px;
    }
    .lb-image {
        width: 100%!important;
        height: auto !important;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
    }
    #ads_swiper-container a {
        background-size: contain;
    }
    #ads_swiper-container p {
        margin-left: 30px;
        font-size: 14px;
    }
    .swiper-container {
        padding-top: 0px;
    }
    #ads_swiper-container {
        padding-bottom: 50px;
    }
    .modal-dialog{
        margin-top:100px;
    }
}